torch==2.5.1
torchvision==0.20.1
--extra-index-url https://download.pytorch.org/whl/cu121
xformers==0.0.29.post1
triton==3.1.0

diffusers==0.33.1
transformers==4.52.3
huggingface-hub==0.32.2
imageio==2.27.0
decord==0.6.0
accelerate==0.26.1
einops==0.7.0
omegaconf==2.3.0
safetensors>=0.4.3
opencv-python==4.9.0.80
mediapipe==0.10.11
av==11.0.0
torch-fidelity==0.3.0
torchmetrics==1.3.1
python_speech_features==0.6
librosa==0.10.1
scenedetect==0.6.1
ffmpeg-python==0.2.0
lpips==0.1.4
face-alignment==1.4.1
ninja==1.11.1.1
pandas==2.0.3
numpy==1.24.4
pydub==0.25.1
moviepy==1.0.3
hf-xet==1.1.8
spaces
gradio[mcp]